/********** COLORS **********/
$color-primary: #623CEA;
$color-primary: #623CEA;
$color-secondary: #36485A;
$color-tertiary: #929CA6;
$color-white: #FFFFFF;
$color-border: #F0F0F0;


/********** FONTS **********/
$font-montserrat: 'Montserrat', sans-serif;
$font-karla: 'Karla', sans-serif;


/********** Z-INDEXES **********/
